<html>
<head>
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
<script type="text/javascript" src="/js/MochiKit/Base.js"></script>
<script type="text/javascript" src="/js/MochiKit/DOM.js"></script>
<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/js/team_select.js"></script>
<script type="text/javascript">
function showError(e)
{
	var errorDiv = $('#error')[0];
	errorDiv.innerHTML = e;
}
function clear()
{
	$("input:hidden").each(
		function() { 
			this.value = ""; 
		}
	);
}
addLoadEvent(clear);
</script>
</head>
<body>
<div id="error" class="error"></div>
<h2>Bracket<span class="tiny">{{tourney.created}}</span></h2>
<div style="position:relative">
<div style="top:0; left:0">
	{% for round in matches %}
	<div class="round">
		{% for match in round %}
			{% if match.matchup %}
			<span class="tourney_matchup">
			<form action="/app/tournament/matchups/result?tournament_match_key={{match.id}}" method="post">
				<button type="submit" name="winner" value="{{match.matchup.team1.id}}">{{match.matchup.team1.leader.name}}<span class="tiny">({{match.matchup.team1.wins|default:"0"}}-{{match.matchup.team1.losses|default:"0"}})</span></button> 
					vs. 
				<button type="submit" name="winner" value="{{match.matchup.team2.id}}">{{match.matchup.team2.leader.name}}<span class="tiny">({{match.matchup.team2.wins|default:"0"}}-{{match.matchup.team2.losses|default:"0"}})</span></button>
			</form>
			</span>
			{% else %}
				{% if match.result %}
				<span class="tourney_matchup">
					<a href="/app/results/detail?match={{match.result.id}}">{{match.result.winner.leader.name}}<span class="tiny">({{match.result.winner.wins|default:"0"}}-{{match.result.winner.losses|default:"0"}})</span> def. {{match.result.loser.leader.name}} <span class="tiny">({{match.result.loser.wins|default:"0"}}-{{match.result.loser.losses|default:"0"}})</span></a>
				</span>				
				{% endif %}
			{% endif %}
		{% endfor %}
		<div class="clear"></div>
	</div>
	{% endfor %}
</div>
</div>
{% if pending_teams %}
<h2>Available Teams</h2>
<form method="post">
<button type="submit">Create Match</button>
{% for team in pending_teams %}
	<div style="float:left" onclick="javascript:toggleSelectTeam('{{team.id}}')">	
		<input id="select_{{team.id}}" type="hidden" name="versus" />
		<div style="float:left" class="{{team.leader.name|slugify}}" id="{{team.id}}">
			<div>
				{{team.leader.name}} <span class="tiny">{{team.wins|default:"0"}}-{{team.losses|default:"0"}}</span>
				{% if team.notes %} 
				<a href="/app/teams/edit?team={{team.id}}"><img src="/img/accessories-text-editor.png" width="12px" height="12px" border="0"></img></a>
				{% endif %}
			</div>
			<div class="wrapper">
			{% for teammember in team.teammember_set.all %}
				<div class="box pos{{teammember.location}}">{{ teammember.merc.name }}</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}
</form>
{% endif %}
{% if teams %}
<h2>Teams</h2>
{% for team in teams %}
	<div style="float:left">	
		<div style="float:left" class="{{team.leader.name|slugify}}" id="{{team.id}}">
			<div>
				{{team.leader.name}} <span class="tiny">{{team.wins|default:"0"}}-{{team.losses|default:"0"}}</span>
				{% if team.notes %} 
				<a href="/app/teams/edit?team={{team.id}}"><img src="/img/accessories-text-editor.png" width="12px" height="12px" border="0"></img></a>
				{% endif %}
			</div>
			<div class="wrapper">
			{% for teammember in team.teammember_set.all %}
				<div class="box pos{{teammember.location}}">{{ teammember.merc.name }}</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}
{% endif %}
</body>
</html>
