<html>
<head>
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/js/team_select.js"></script>
</head>
<body>
<fieldset>
<legend>Pending Matches</legend>
{% for matchup in matches %}
<div>
	<div style="display:inline">
		<form action="/matchup/result" method="post">
			<input type="hidden" name="match_key" value="{{matchup.key}}" />
			<button type="submit" name="winner" value="{{matchup.team1.key}}">{{matchup.team1.leader.name}} <span class="tiny">({{matchup.team1.wins|default:"0"}}-{{matchup.team1.losses|default:"0"}})</span></button> vs. <button type="submit" name="winner" value="{{matchup.team2.key}}">{{matchup.team2.leader.name}}<span class="tiny">({{matchup.team2.wins|default:"0"}}-{{matchup.team2.losses|default:"0"}})</span></button>
		</form>			
	</div>
	<div style="display:inline; margin-left: 50px;">
		<form action="/matchup/delete" method="post">
			<input type="hidden" name="match_key" value="{{matchup.key}}" />
			<button type="submit">Delete</button>
		</form>
	</div>
</div>
{% endfor %}
</fieldset>
<form method="post">
<input type="submit" value="Create Matchup" />
{% for team_group in teams %}
{% for team in team_group %}
	<div style="float:left" onclick="javascript:toggleSelectTeam('{{team.key}}')">
	{% include "blocks/team_box.html" %}
	</div>
{% endfor %}
{% endfor %}

</form>
</body>
</html>
